<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename = 'css/Dropdown.css') }}">
    </head>

    <body>
        <nav>
            <p>Dave's Chord Visualization</p>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Piano</a>
                    <ul>
                        <li><a href="{{ url_for('piano_chords') }}">Chords</a></li>
                        <li><a href="{{ url_for('piano_scales') }}">Scales</a></li>
                    </ul>
                </li>
                    <li><a href="#">Guitar</a>
                    <ul>
                        <li><a href="{{ url_for('guitar_chords') }}">Chords</a></li>
                        <li><a href="{{ url_for('guitar_scales') }}">Scales</a></li>
                    </ul>
                </li>
            </ul>
        </nav>        

    </body>
</html>
